*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: aliceblue;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 400px;
    background-color: white;
    height: fit-content;
    padding: 50px;
    box-shadow: 2px 2px 5px grey;
    border-radius: 10px;
    text-align: center;
}
.head{
    width: 90%;
    text-align: center;
    height: fit-content;
}

input{
    width: 80%;
    margin-top: 10px;
}
button{
    background-color: green;
    border-radius: 5px;
    padding: 2px 5px 2px 5px ; 
    cursor: pointer;
}

#item{
    background-color: blue;
    width:90%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    text-align: left;
}

li{
    list-style: none;
}
.delete{
    background-color: red;
}

.clear-items{
    color: red;
    font-size: smaller;
    cursor: pointer;
}
